<div id="<%= dom_id mom %>">
  <p>
    <strong>Date:</strong>
    <%= mom.date %>

    <strong>Calledby:</strong>
    <%= mom.calledby %>

    <strong>Descrption:</strong>
    <%= mom.descrption %>
 
    <strong>Title:</strong>
    <%= mom.title %>

    <strong>Venue:</strong>
    <%= mom.venue %>
  
    <strong>Callby:</strong>
    <%= mom.callby_id %>

    <strong>Meet:</strong>
    <%= mom.meet_id %>

    <strong>Attendby:</strong>
    <%= mom.attendby %>

    <strong>Report:</strong>
    <%= mom.report %>
  </p>




</div>
